body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

#button1{
  background-color: #ff9800;
  border-radius: 0%;
}
#nav li a:hover{
  background: #ff9800;
}

#nombre{
    font-size: 30px;
  }

  /*estilo de la seccion 1*/
  
  #secccion1{
    margin-top: 100px;
  }
  .botonclaro{
    background-color: #ff9800;
    color: white;
    border-radius: 10px;
    height: 40px;
  }
  .botonooscuro{
    background-color: #ff9800;
    color: white;
    border-radius: 10px;
    height: 40px;
  }


/*section inicio*/
.svge1{
  margin-top: -57px;
}
.outer{
  margin-top: 70px;
 }
.divcenter {
  display: flex;
  justify-content: center;
}
.holasoy{
  font-size:60px;
  color: white;
}
.info1{
  color: white;
  font-size: 35px;
}
.info2{
  color: white;
  font-size: 20px;
}
.inner{
  border:0px solid #ddd;
  height:50px;
  line-height:49px;
  font-size:60px;
  text-transform:uppercase;
  overflow:hidden;
  display:inline-flex;
}
.inner span{
  display: block;
  height: 100%;
  padding-left: 20px;
  animation:animate 10s ease infinite;
  position:relative;
  color: #ff9800;
}
@keyframes animate{
  0%,100%{
    top:0;
  }
  20%{
    top:0px;
  }  
  25%{
    top:-50px;
  }
  45%{
    top:-50px;
  }
  50%{
    top:-100px;
  }
  70%{
    top:-100px;
  }
  /*75%{
    top:-150px;
  }
  95%{
    top:-150px;
  }*/
}



/*estilo de la seccion2*/


.info3{
  color: white;
  font-size: 30px;
}

#img1{
  -webkit-filter: drop-shadow(5px 5px 25px #ff9800);
  filter: drop-shadow(5px 5px 15px #ff9800) brightness(60%);
  opacity: 1;
  transition: 0.3s ease-in-out;
  border-radius: 7px;
}

#img1:hover{
  transform: scale(1.15);
  opacity: 1;
  transition: 0.3s ease-in-out;
  border-radius: 7px;
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
  -webkit-filter: drop-shadow(5px 5px 15px #ff9800);
  filter: drop-shadow(5px 5px 25px #ff9800) brightness(100%);
}

.botongithub {
  color: #ff9800;
  border-radius: 15px !important;
  border: 2px solid #ff9800;
  font-size: 15px;
  padding: 11px 15px !important;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0.2rem 1rem 0.3rem rgba(255, 154, 23, 0.281) !important;
}

.botongithub:hover {
  color: #fff;
  background:  #ff9800;
}

.btn-box {
  width: 125px;
  margin: auto;
}

/*estilo de la seccion3*/


  #secccion3{
    margin-top: 250px;
  }
/*seccion 3*/
.descargar{
  border-radius: 15px;
  font-size: 15px;
  color: #fafafa;
  background: #ff9800;
}
.descargar:hover {
  color: #fff;
  background:  #ff9800;
}

/*aqui empieza el codigo de los botones fosforecentes*/

.ul1 {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.ul1 .li1 a {
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  background: #171515;
  border-radius: 10px;
  font-size: 2.2rem;
  color: #949292;
  transition: .5s;
}
.ul1 .li1 a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #ff9800;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}
.ul1 .li1 a:hover::before{
  transform: scale(1.2);
  box-shadow: 0 0 15px #ff9800;
  filter: blur(3px);
}
.ul1 .li1 a:hover{
  color: #ff9800;
  box-shadow: 0 0 15px #ff9800;
  text-shadow: 0 0 15px #ff9800;
}

/*aqui termina el codigo de los botones fosforecentes*/



/*responsivo*/

/**Movil**/
@media (max-width: 767px) {
  .holasoy{
    font-size:20px;
  }
  .info1{
    font-size: 13px;
  }
  .info2{
    font-size: 13px;
  }
  .inner{
    border:0px solid #ddd;
    height:50px;
    line-height:50px;
    font-size:20px;
    text-transform:uppercase;
    overflow:hidden;
    display:inline-flex;
  }
  .inner span{
    display: block;
    height: 100%;
    padding-left: 10px;
    animation:animate 10s ease infinite;
    position:relative;
    color: #ff9800;
  }
  .img1{
    margin-top: 50px;
    height: 80px;
    width: 180px;
  }
  .info3{
    font-size: 15px;
  }
  .svge1_0{
    opacity: 0;
  }
}

/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
  .holasoy{
    font-size:40px;
  }
  .inner{
    border:0px solid #ddd;
    height:50px;
    line-height:50px;
    font-size:40px;
    text-transform:uppercase;
    overflow:hidden;
    display:inline-flex;
  }
  .inner span{
    display: block;
    height: 100%;
    padding-left: 15px;
    animation:animate 10s ease infinite;
    position:relative;
    color: #ffae00;
  }
  .svge1_0{
    opacity: 0;
  }
}
